.flex {
  display: flex; }

.landing {
  flex-direction: column;
  align-items: center; }
  .landing img {
    width: 400px;
    height: 90px;
    margin-top: 15%; }
  .landing img:hover {
    content: url("/static/seattle_skyline_scale_2_highlight.png"); }
  .landing h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 0;
    font-size: 2.5em; }
  .landing h4 {
    margin-top: 0;
    text-align: center;
    color: #FA5059;
    font-family: 'Oswald', sans-serif;
    font-size: 1.25em; }
  .landing a {
    color: #E3E5E4;
    text-decoration: none;
    font-family: 'Oswald', sans-serif; }
  .landing a:hover {
    color: #6FA8F2; }

.blog {
  justify-content: space-between;
  width: 100%;
  font-size: .75em;
  margin-left: 40px; }
  .blog .fullblogs {
    flex-direction: column;
    width: 80%; }
    .blog .fullblogs .newblog {
      flex-direction: column;
      border-top: 3px solid #6FA8F2; }
      .blog .fullblogs .newblog .blogcover {
        width: 100%; }
        .blog .fullblogs .newblog .blogcover img {
          width: 100%; }
      .blog .fullblogs .newblog .blogcontent {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%; }
        .blog .fullblogs .newblog .blogcontent img {
          width: 100%; }
        .blog .fullblogs .newblog .blogcontent h5 {
          margin-top: 1%;
          margin-bottom: 2%; }
        .blog .fullblogs .newblog .blogcontent ul {
          list-style: none; }
          .blog .fullblogs .newblog .blogcontent ul li a {
            text-decoration: none;
            color: #FA5059; }
        .blog .fullblogs .newblog .blogcontent p a {
          text-decoration: none;
          color: #FA5059; }
        .blog .fullblogs .newblog .blogcontent .videowrapper {
          position: relative;
          padding-bottom: 56.45%;
          padding-top: 25px;
          height: 0;
          margin-left: auto;
          margin-right: auto; }
          .blog .fullblogs .newblog .blogcontent .videowrapper iframe {
            position: absolute;
            top: 10%;
            left: 10%;
            width: 80%;
            height: 80%; }
        .blog .fullblogs .newblog .blogcontent .blogimg {
          width: 50%;
          margin: auto; }
  .blog .bloglist {
    width: 20%;
    text-align: center;
    margin-top: 25px; }
    .blog .bloglist .subscribe-button {
      text-decoration: none;
      background: #6FA8F2;
      font-family: inherit;
      font-weight: bold;
      font-size: 1em;
      color: inherit;
      letter-spacing: 1px;
      border-radius: 2px 2px 2px 2px;
      cursor: pointer;
      padding: 5px 10px 5px 10px; }
    .blog .bloglist .subscribe-button:hover {
      background: #FA5059; }
    .blog .bloglist h4 {
      font-size: 1.5em;
      text-align: left;
      margin-top: 40px; }
    .blog .bloglist ul {
      padding: 0;
      flex-direction: column;
      list-style: none;
      text-align: left;
      margin-top: 0; }
      .blog .bloglist ul li {
        margin-top: 20px; }
        .blog .bloglist ul li a {
          text-decoration: none;
          color: #E3E5E4; }

.blogdetail .fullblogs {
  width: 100%; }
  .blogdetail .fullblogs .newblog .blogcontent .subscribe-button {
    text-decoration: none;
    background: #6FA8F2;
    font-family: inherit;
    font-weight: bold;
    font-size: 1em;
    color: inherit;
    letter-spacing: 1px;
    border-radius: 2px 2px 2px 2px;
    cursor: pointer;
    padding: 5px 10px 5px 10px; }
  .blogdetail .fullblogs .newblog .blogcontent .subscribe-button:hover {
    background: #FA5059; }

.about {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  justify-content: space-between; }
  .about .aboutpic {
    width: 200px;
    height: 200px;
    margin: 0;
    display: inline-flex; }
    .about .aboutpic img {
      width: 200px;
      height: 200px;
      border-right: 2px solid #6FA8F2;
      padding-right: 3%; }
  .about p {
    font-size: .75em;
    padding-left: 3%;
    width: 70%; }

.projects {
  flex-direction: column;
  position: relative;
  width: 200px;
  height: 200px; }
  .projects img {
    width: 200px;
    height: 200px;
    border-radius: 2px; }
  .projects .caption-wrapper {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    margin: 0 0;
    border-radius: 2px; }
    .projects .caption-wrapper h3 {
      margin: 44% 0;
      text-align: center;
      display: none; }
  .projects .caption-wrapper:hover {
    background-color: rgba(111, 168, 242, 0.9);
    border-radius: 2px; }
    .projects .caption-wrapper:hover h3 {
      display: block;
      color: #E3E5E4; }

.project-detail {
  width: 100%;
  flex-direction: column;
  padding-left: 60px; }
  .project-detail .beta .text-content {
    margin: 0 0;
    flex-direction: row;
    width: 100%; }
    .project-detail .beta .text-content .project-description {
      flex-direction: column;
      width: 80%;
      padding-right: 5%;
      border-right: 2px solid #6FA8F2; }
      .project-detail .beta .text-content .project-description h2 {
        margin: 0 0;
        width: 100%;
        font-size: 2em; }
    .project-detail .beta .text-content .find-project {
      width: 20%;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 5%; }
      .project-detail .beta .text-content .find-project h4 {
        margin: 0;
        text-align: center; }
      .project-detail .beta .text-content .find-project ul {
        flex-direction: column;
        justify-content: space-around;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
        align-items: center; }
        .project-detail .beta .text-content .find-project ul a {
          width: 45%;
          text-decoration: none;
          color: #E3E5E4;
          font-size: 2em; }
        .project-detail .beta .text-content .find-project ul a:hover {
          color: #6FA8F2; }
        .project-detail .beta .text-content .find-project ul #gh-detail:before {
          content: "\f09b";
          font-family: 'icomoon';
          font-size: .85em; }
        .project-detail .beta .text-content .find-project ul #ww-detail:before {
          content: "\f0ac";
          font-family: 'icomoon';
          font-size: .85em; }
  .project-detail img {
    width: 100%;
    margin-right: 15px; }

.subscribe_form {
  width: 450px;
  margin: 3% auto; }
  .subscribe_form .subscribe_header {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center; }
  .subscribe_form .subscribe_description {
    font-size: 10px;
    letter-spacing: 1px;
    line-height: 1.3em;
    margin: -2px 0 45px;
    text-align: center; }
    .subscribe_form .subscribe_description a {
      text-decoration: none;
      color: #FA5059; }
  .subscribe_form .subscribe {
    align-items: center;
    margin-bottom: 2px; }
    .subscribe_form .subscribe #id_email {
      height: 44px;
      width: 75%;
      border: none;
      background: #FDFCFB;
      font-family: inherit;
      color: #737373;
      letter-spacing: 1px;
      text-indent: 5%;
      border-radius: 5px 0 0 5px; }
    .subscribe_form .subscribe #submit_email {
      height: 46px;
      width: 35%;
      border: none;
      background: #6FA8F2;
      font-family: inherit;
      font-weight: bold;
      color: inherit;
      letter-spacing: 1px;
      border-radius: 0 5px 5px 0;
      cursor: pointer; }
    .subscribe_form .subscribe #submit_email:hover {
      background: #FA5059; }
  .subscribe_form .error {
    font-size: .75em;
    margin-top: 0px; }

@media only screen and (max-width: 670px) {
  .landing img {
    width: 310px;
    height: 70px; }
  .landing h1 {
    font-size: 2em; }
  .landing h4 {
    font-size: 1em; }

  .about {
    flex-direction: column;
    align-items: center; }
    .about .aboutpic {
      width: 180px;
      height: 180px; }
      .about .aboutpic img {
        width: 180px;
        height: 180px;
        border-bottom: 2px solid #6FA8F2;
        border-right: 2px solid #6FA8F2;
        padding-bottom: 3%; }

  .blog {
    font-size: .5em; }

  .bloglist {
    font-size: .75em; }

  #submit_email {
    font-size: .55em; } }
@media only screen and (max-width: 500px) {
  .blog {
    margin-left: 0px; } }

/*# sourceMappingURL=modules.css.map */
