{% extends "homepage.html" %}
{% block content %}
<div class="flex about">
    <img src="/static/profile_pic.jpg" />
    <p>
        I am a full stack software developer with an expertise in Python and Javascript. Prior to this career I worked as a Process Geophysicist in the Oil & Gas industry. As a Geophysicist, I received great training and experience with project management and development. I decided to make a switch to software development because I find the problems compelling, and they allow for really creative solutions. I am also really interested in data manipulation and worked with large datasets as a geophysicist. I love finding insights from raw data. I leverage my experience with collaborative problem solving, project management and data analysis in my role as a software developer.
    </p>
</div>
{% endblock %}
