{% extends "homepage.html" %}
{% block title %}
<meta property="og:title" content="About Me" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="joemcclenahan.com" />
<meta property="og:url" content="http://www.joemcclenahan.com/about/" />
<meta name="twitter:title" content="About Me" />
<meta name="twitter:description" content="About Joe McClenahan" />
<title>Joe McClenahan | About Me</title>
{% endblock %}
{% block content %}
<div class="flex about">
    {% for about in object_list %}
    <div class="aboutpic">
        <img src="{{ about.profilepic.url }}" />
    </div>
    <p>{{ about.aboutme }}</p>
    {% endfor %}
</div>
{% endblock %}
