{% extends "homepage.html" %}
{% block content %}
<div class="flex blog">
    <div class="flex blogs">
        <div class="blogcover">
            <img src="{{ blog.cover.url }}" />
        </div>
        <div class="blogcontent">
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.text|linebreaks }}</p>
            {% for image in blog.images.all %}
            <img src="{{ image.image.url }}" />
            <h5>{{ image.title }}</h5>
            <figcaption>{{ image.description }}</figcaption>
            {% endfor %}
            {% for video in blog.videos.all %}
            <div class="videowrapper">
                <iframe src="{{ video.url }}"></iframe>
            </div>
            <figcaption>{{ video.description }}</figcaption>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
