{% extends "homepage.html" %}
{% block content %}
<div class="flex blog">
    {% for blog in object_list %}
    <div class="flex blogs">
        <div class="blogcover">
            <img src="{{ blog.cover.url }}" />
        </div>
        <div class="blogcontent">
            <h1>{{ blog.title }}</h1>
            <p>{{ blog.text|linebreaks }}</p>
            {% for image in blog.images.all %}
            <img src="{{ image.image.url }}" />
            <h5>{{ image.title }}</h5>
            <figcaption>{{ image.description }}</figcaption>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <div class="bloglist">
        <h4>Recent Blogs</h4>
        {% for blog in object_list %}
        <a href = "/blog/{{ blog.id }}">{{ blog.title}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}
