{% extends "homepage.html" %}
{% block title %}
<meta property="og:title" content="My Blog" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="joemcclenahan.com" />
<meta property="og:url" content="http://www.joemcclenahan.com/blog" />
<meta name="twitter:title" content="Blog" />
<meta name="twitter:description" content="Blogs by Joe McClenahan" />
<title>Joe McClenahan | My Blog</title>
{% endblock %}
{% block content %}
<div class="flex blog">
    <div class="fullblogs">
        {% for blog in object_list %}
        <div class="flex newblog">
            <div class="blogcover">
                <img src="{{ blog.cover.url }}" />
            </div>
            <div class="blogcontent">
                <h1>{{ blog.title }}</h1>
                <p>
                    {{ blog.date_uploaded|date }}
                </p>
                {{ blog.text|safe }}
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="bloglist">
        <a class="subscribe-button" href="/subscribe">Subscribe</a>
        <h4>Recent Posts</h4>
        <ul class="flex">
            {% for blog in object_list %}
            <li><a href = "/blog/{{ blog.id }}">{{ blog.title}}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
