<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Joe McClenahan</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'modules.css' %}" />
</head>
<body>
<header>
    <h1>JOE McCLENAHAN</h1>
    <nav class="main-nav">
        <ul class="flex">
            <li><a href="/home">HOME</a></li>
            <li><a href="/home/projects">PROJECTS</a></li>
            <li><a href="/home/blog">BLOG</a></li>
        </ul>
    </nav>
</header>



<footer>
    <h5>Joe McClenahan | 2016</h5>
</footer>
</body>
</html>
