<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Joe McClenahan</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet" type="text/css">
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'modules.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'icomoon/style.css' %}" />
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" />
</head>
<body>
<header class="flex">
    <div class="flex">
        <nav class="flex main-nav">
            <ul class="flex">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
            </ul>
        </nav>
        <img src="/static/seattle_skyline_scale_2.png" />
        <h1>JOE McCLENAHAN</h1>
    </div>
</header>
<main class="flex">
    <div class="flex">
        <aside class="sidebar">
            <ul class="flex social">
                <a href="https://www.linkedin.com/in/josephmcclenahan"><li id="ld"></li></a>
                <a href="https://twitter.com/joe_mcclenahan"><li id="tw"></li></a>
                <a href="https://github.com/jmcclena94"><li id="gh"></li></a>
                <a href="mailto:jmcclena94@gmail.com"><li id="em"></li></a>
            </ul>
        </aside>
    <article class="flex content">
        {% block content %}
        {% endblock %}
    </article>
    </div>
</main>
<footer class="flex">
    <h5>Joe McClenahan | A Django App | &copy; 2016</h5>
</footer>
</body>
</html>
