<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="{% static 'fbook_lrg.png' %}" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
{% block title %}
{% endblock %}
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'modules.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'icomoon/style.css' %}" />
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon2.ico' %}" />
<link rel="image_src" href="{% static 'fbook_lrg.png' %}" />
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78082131-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<body>
<header class="flex">
    <div class="flex">
        <nav class="flex main-nav">
            <ul class="flex">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/projects">PROJECTS</a></li>
                <li><a href="/blog">BLOG</a></li>
            </ul>
        </nav>
        <div class="seattle">
            <img src="/static/seattle_skyline_scale_2.png" />
        </div>
        <h1>JOE McCLENAHAN</h1>
    </div>
</header>
<main class="flex">
    <div class="flex">
        <aside class="sidebar">
            <ul class="flex social">
                <a href="https://www.linkedin.com/in/josephmcclenahan"><li id="ld"></li></a>
                <a href="https://twitter.com/joe_mcclenahan"><li id="tw"></li></a>
                <a href="https://github.com/jmcclena94"><li id="gh"></li></a>
                <a href="mailto:jmcclena94@gmail.com"><li id="em"></li></a>
            </ul>
        </aside>
    <article class="flex content">
        {% block content %}
        {% endblock %}
    </article>
    </div>
</main>
<footer class="flex">
    <h5>Copyright &copy; 2017</h5>
</footer>
</body>
</html>
