<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta property="og:image" content="http://www.joemcclenahan.com/static/fbook_lrg.png" />
<meta property="og:image:type" content="image/png" />
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="630" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@joe_mcclenahan" />
<meta name="twitter:creator" content="@joe_mcclenahan" />
<meta name="twitter:title" content="Joe McClenahan" />
<meta name="twitter:description" content="My Portfolio Site" />
<meta name="twitter:image" content="http://www.joemcclenahan.com/static/fbook_lrg.png" />
<meta name="twitter:image:alt" content="joemcclenahan.com" />
<title>Joe McClenahan</title>
<link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="{% static 'normalize.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'modules.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'icomoon/style.css' %}" />
<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon2.ico' %}" />
<link rel="image_src" href="{% static 'fbook_lrg.png' %}" />
</head>
<body>
    <div class="flex landing">
        <img src="/static/seattle_skyline_scale_2.png" />
        <a href="/about"><h1>J&nbsp;O&nbsp;E&nbsp;&nbsp;M&nbsp;c&nbsp;C&nbsp;L&nbsp;E&nbsp;N&nbsp;A&nbsp;H&nbsp;A&nbsp;N</h1></a>
        <h4>FULL STACK DEVELOPER</h4>
    </div>
</body>
</html>
