{% extends "homepage.html" %}
{% block title %}
<meta property="og:title" content="My Projects" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="joemcclenahan.com" />
<meta property="og:url" content="http://www.joemcclenahan.com/projects/" />
<meta name="twitter:title" content="Projects" />
<meta name="twitter:description" content="Projects at joemcclenahan.com" />
<title>Joe McClenahan | Projects</title>
{% endblock %}
{% block content %}
{% for project in object_list %}
<div class="flex projects">
    <a href="/projects/{{ project.id }}"><img class="project-image" src="{{ project.cover.url }}" />
    <div class="caption-wrapper">
        <h3>{{ project.title }}</h3>
    </div></a>
</div>
{% endfor %}

{% endblock %}
