{% extends "homepage.html" %}
{% block title %}
<meta property="og:title" content="Unsubscribe" />
<meta property="og:type" content="article" />
<meta property="og:site_name" content="joemcclenahan.com" />
<meta property="og:url" content="http://www.joemcclenahan.com/unsubscribe/" />
<meta name="twitter:title" content="Unsubscribe" />
<meta name="twitter:description" content="Unsubscribe from joemcclenahan.com" />
<title>Joe McClenahan | Unsubscribe</title>
{% endblock %}
{% block content %}
<form class="subscribe_form" action="" method="post">
    {% csrf_token %}
    <div class="subscribe_header">
         <p>Unsubscribe</p>
    </div>
    <div class="subscribe_description">
        <p>Enter your email to unsubscribe from updates.</p>
     </div>
    <div class="flex subscribe">
        {{ form.email }}
        <input id="submit_email" type="submit" value="UNSUBSCRIBE" />
    </div>
    <p class="error">{{ form.email.errors.as_text }}</p>
</form>
{% endblock %}
